<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<button onclick="window.location.href='/logout'">Cerrar sesion</button>
<button onclick="window.location.href='/ADMIN/newRestaurant'">Nuevo restaurante</button>
<h1>ADMINISTRADOR</h1>
<table border="2" cellspacing="0" cellpadding="8" >
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Direccion
        </th>
        <th>
            Telefono
        </th>
        <th>
            Score
        </th>
        <th>
            Imagen
        </th>>
        <th>
            Opciones
        </th>


    </tr>
    <tr th:each="restaurant: ${restaurants}">
        <td th:text="${restaurant.name}"> </td>
        <td th:text="${restaurant.direction}"> </td>
        <td th:text="${restaurant.phone}"> </td>
        <td th:text="${restaurant.score}"> </td>
        <td><img th:src="@{'data:image/jpg;base64,' +  ${restaurant.f}}" width="500"/></td>

        <td>
            <a th:href="${'/showRestaurant/' + restaurant.id}">Ver</a>
            <a th:href="${'/ADMIN/editRestaurant/' + restaurant.id}">Editar</a>
            <a th:href="${'/ADMIN/deleteRestaurant/' + restaurant.id}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>