<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Restaurante</title>

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>
<h1>Editar un Restaurante</h1>
<form action="/restaurant"  method="POST">
    <input type="hidden" name="id" th:value="${restaurant.id}">
    <input type="hidden" name="score" th:value="${restaurant.score}">
    <p>Nombre: </p>
    <textarea name="name" id="name" th:text="${restaurant.name}" cols="30" rows="3"> </textarea>
    <p>Direccion Principal: </p>
    <textarea name ="direction" id="direction" th:text="${restaurant.direction}" cols="30" rows="3"></textarea>
    <p>Telefono: </p>
    <textarea name="phone" id="phone" th:text="${restaurant.phone}" cols="30" rows="3"> </textarea>
    <br />
    <select>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:selected="(${category.id} == ${restaurant.category.id})"></option>
    </select>
    <br />
    <select>
        <option th:each="city : ${cities}"
                th:value="${city.id}"
                th:text="${city.name}"
                th:selected="(${city.id} == ${restaurant.city.id})"></option>
    </select>
    <br />
    <img th:if="${#strings.length(restaurant.foto)>0}" th:src="${'/uploads/' + restaurant.foto}" th:alt="${restaurant.foto}" width="460" height="345">
    <br />
    <input type="submit" value="Guardar">
</form>
</body>
</html>