<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head  lang="es">
    <title> Home </title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
<div class="main_menu_bg">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/registration"> Registrar </a></li>
                            <li><a href="/login"> Iniciar Sesion </a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/profile"> Perfil </a></li>
                            <li> <i th:text="${username}"> </i></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</header>

<section id="slider" class="slider">
    <div class="slider_overlay">
        <div class="container">
            <div class="row">
                <div class="main_slider text-center">
                    <div class="col-md-12">
                        <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                            <h1> TROFIMA </h1>
                            <div>
                                <form style="display:flex" action="/search" method="get">
                                    <select id="countryId" name="countryId" style="width: 300px; color:orange" class="form-control" >
                                        <option style="color:orange"
                                                th:each="country : ${countries}"
                                                th:value="${country.id}"
                                                th:text="${country.name}"
                                        ></option>
                                    </select>
                                <select id="id" name="id" style="width: 300px; color:orange" class="form-control" >
                                    <option style="color:orange"
                                            th:each="city : ${cities}"
                                            th:value="${city.id}"
                                            th:text="${city.name}"
                                            th:if="${city.country.id} == 6000"></option>
                                </select>
                                    <input class="form-control my-0 py-1" type="text" id ="name" name="name" placeholder="Search..." aria-label="Search" style="color:orange"/>
                                    <input value = "Buscar" type="submit" class="btn btn-secondary" style="color:orange; background-color: rgba(1, 1, 36, 0.56);"/>
                                </form>
                            </div>
                        </div>
                        <td th:each="category : ${categories}" method="get">
                            <a th:href="${'/search/' + category.id}" th:text="${category.name}" class="btn btn-secondary"  style="margin: 0px; color:orange; background-color: rgba(1, 1, 36, 0.56);"></a>
                        </td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
