<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <style>
        .container{
            color: orange;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2><strong>Iniciar sesion </strong></h2>
        </div>
        <div class="container">
            <form th:action="@{/registration}" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Registrarme</button>
            </form>
        </div>
        <br />
        <div class="container">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" id="username" name="username"  th:placeholder="username"/><br />
                <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="password"  th:placeholder="Password" id="password" name="password" /><br />
                <button class="btn btn-block" style="color: #00002D; background-color: orange;" name="Submit" value="Login" type="Submit" th:text="Login"></button>
            </form>
        </div>
    </div>
</body>
</html>