<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Restaurante</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Registre un Restaurante</h1>
<form action="/restaurant"  method="POST">
    <p>Ingrese el nombre</p>
    <textarea name="name" id="name" cols="30" rows="3"> </textarea>
    <p>Ingrese Direccion Principal: </p>
    <textarea name ="direction" id="direction" cols="30" rows="3"></textarea>
    <p>Ingrese el telefono: </p>
    <textarea name="phone" id="phone" cols="30" rows="2"> </textarea>
    <br />
    <select name="category" id="category">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <br/>
    <select name="city" id="city">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
    </select>
    <br />
    <textarea name="fileUrl" id="fileUrl"> </textarea>
    <br/>
    <input type="submit" value="Guardar">
</form>
</body>
</html>