<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Restaurantes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <style>
        .container{
            color: orange;
        }
        .jumbotron{
            background-color: #012438;
            color: orange;
        }
    </style>
</head>
<body style="background-color: #00002D;">
<form th:action="@{/}" method="POST">
    <button class="btn btn-secondary" style="color:orange; background-color: #00002D; border:none;" type="submit"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
</form>
<div class="container">
    <button class="btn btn-secondary" style="color: #00002D; background-color: orange;"
            onclick="window.location.href='/logout'">Cerrar sesion</button>
    <form action="/search" method="get">
        <select id="id" name="id" style="width: 300px; color:orange" class="form-control" >
            <option style="color:orange"
                    th:each="city : ${cities}"
                    th:value="${city.id}"
                    th:text="${city.name}"
                    th:selected="(${city.id} == ${id})">
            </option>
        </select>
        <input value = "Buscar" type="submit" class="btn btn-secondary" style="color:orange; background-color: rgba(1, 1, 36, 0.56);"/>
    </form>
    <div class="media jumbotron" th:each="restaurant: ${restaurants}">
        <div class="media-body">
            <img class="media-object" th:src="@{'data:image/jpg;base64,' +  ${restaurant.f}}" width="300px;" height="200px;"/>
            <h4 class="media-heading" th:text="${restaurant.name}"></h4>
            <p th:text="${restaurant.category.name}"></p>
            <p th:text="${restaurant.city.name}"></p>
            <div th:if="${restaurant.score > 0}">
                <fieldset  class="rating" th:each="stars:${#numbers.sequence(1,{restaurant.score})}" >
                    <label  style="color:yellow; font-size:120%;" ></label>
                </fieldset>
            </div>
        </div>
        <a th:href="${'/showRestaurant/' + restaurant.id}">Ver</a>
    </div>
</div>
</body>
</html>