<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
</head>
<body>
<div style= "padding-left:50px;">
    <img class="info" th:src="@{'data:image/jpg;base64,' + ${fot} }" width="300"/>
</div>
<div style= "padding-left:50px;">
    <h2><strong th:text="${restaurant.name}"></strong></h2>
</div>
<div style= "padding-left:50px;  font-color" >
    <p style="font-size:20px;">Ciudad: <span th:text="${restaurant.city.name}"></span></p>
    <p style="font-size:20px;">Direccion: <span th:text="${restaurant.direction}"></span></p>
    <p style="font-size:20px;">Telefono: <span th:text="${restaurant.phone}"></span></p>
    <p style="font-size:20px;">Categoria: <span th:text="${restaurant.category.name}"></span></p>
    <p style="font-size:20px;">Ranking:</p>
    <fieldset class="rating" th:each="stars:${#numbers.sequence(1,{restaurant.score})}" >
          <label  style="padding-left:10px; color:yellow; font-size:120%;" ></label>
    </fieldset>
    <br/>
    <br/>
    <br/>
    <p style="font-size:20px;">Escribe un comentario</p>
    <br/>
</div>
    <form style= "padding-left:50px;" th:action="@{/comment}" method="POST">
        <input type="hidden" name="restaurant" th:value="${restaurant.id}"/>
        <input type="hidden" name="user" th:value="${user.id}"/>
        <textarea name="text" id="text" cols="30" rows="10" required="required">Escribe un comentario...</textarea>
        <br/>
        <fieldset class="rating">
            <input type="radio" id="star5" name="score" value="5" required="required" checked="checked"/><label class = "full" for="star5" ></label>
            <input type="radio" id="star4" name="score" value="4"/><label class = "full" for="star4" ></label>
            <input type="radio" id="star3" name="score" value="3"/><label class = "full" for="star3" ></label>
            <input type="radio" id="star2" name="score" value="2"/><label class = "full" for="star2" ></label>
            <input type="radio" id="star1" name="score" value="1"/><label class = "full" for="star1" ></label>
        </fieldset>
        <br/>
        <input type="submit" value="Enviar comentario"/>
    </form>
    <div style= "padding-left:50px;" name="Comments">
        <p th:each="comment : ${restaurant.comments}" >
            <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Text: </b> <span th:text="${comment.text}"></span><br />
            <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date: </b> <span th:text="${comment.creationDate}"></span><br />
            <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User: </b> <span th:text="${comment.user.username}"></span><br />
            <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Likes: </b> <a th:text="${comment.likes}"></a>
            <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Score: </b> <a th:text="${comment.score}"></a>
            <a type="button" class="btn btn-info" th:href="${'/commentlike/' + comment.id}">like</a>
            <a type="button" class="btn btn-info" th:href="${'/commentdislike/' + comment.id}">dislike</a>
        </p>

    </div>
</body>
</html>
